body{
    background-color: rgb(71, 25, 109);
}
.n1{
color: white;
}
.c1{
color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.name, .caption{
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    color:#000000;
}
.post-btn{
    padding: 10px 20px;
    background-color: #0de48a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}  
.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h3{
        font-size: 25px;
    }
}

.card{
    width: 400px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;

}
.container{
    display: flex;
}

.error{
    color: red;
    font-size: 20px;
    margin-bottom: 20px;
}
.update-btn{
    padding: 10px 20px;
    background-color: #0de48a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.editbutton{
    padding: 10px 20px;
    background-color: #0de48a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0de48a;
}

.deletebutton{
      padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

